html,
body {
  font-family: "Open Sans", sans-serif;
}

img {
  padding: 5px;
   /* Ubah warna border */
  border-radius: 5px;
  width: 200px; /* Ubah lebar gambar */
  object-fit: cover;
}

.has-text-centered button {
  border: 2px solid #e74c3c; /* Ubah warna border */
  font-size: 20px; /* Ubah ukuran font */
  background-color: #fff; /* Ubah warna latar belakang */
  padding: 12px 20px; /* Ubah padding atas dan bawah, serta kiri dan kanan */
  border-radius: 15px; /* Ubah radius border */
  margin-top: 0; /* Hapus margin atas */
  font-weight: bold; /* Tambahkan ketebalan font */
  cursor: pointer;
  color: #e74c3c; /* Ubah warna teks */
}

.has-text-centered button:hover {
  background-color: #e74c3c; /* Ubah warna latar belakang saat hover */
  color: #fff; /* Ubah warna teks saat hover */
}

/* CSS untuk mengatur tata letak */
.row {
  display: flex;
  flex-direction: row;
}

.col-lg-6 {
  flex: 1;
}

.image-container {
  text-align: center; /* Untuk mengatur gambar di tengah */
}

.text-container {
  padding: 20px; /* Untuk memberikan ruang di sekitar teks */
}
