.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#Hobby {
  background-color: #e2edff;
}
#contact {
  background-color: #e2edff;
}

#footer {
  background-color: paleturquoise;
}

section {
  padding-top: 5rem;
}
